main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.board-container{
    position: relative;
    left: var(--sidebar-close-width);
    width: calc(100% - var(--sidebar-close-width));
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.board-content{
    padding-left: 2em;
    padding-top: 2em;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


/* Board info bar */
.board-header {
    display: flex;
    align-items: center;
    padding: 0.5em;
    color: #f6f6f6;
}

.board-info-bar .btn {
    font-size: 1.4rem;
    font-weight: 400;
    transition: background-color 150ms;
    padding: 0 0.6rem;
    border-radius: 0.3rem;
    height: 3rem;
}

.board-info-bar .btn:hover {
    background-color: #006aa8;
}

.board-title{
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
}

/* Lists */

.lists-container::-webkit-scrollbar {
    height: 2.4rem;
}

.category-container::-webkit-scrollbar-thumb {
    background-color: #66a3c7;
    border: 0.8rem solid #0079bf;
    border-top-width: 0;
}

.category-container {
    display: flex;
    height: 100%;
    align-items: start;
    padding: 0 0.8rem 0.8rem;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
}

.category-item {
    flex: 0 0 27rem;
    display: flex;
    flex-direction: column;
    background-color: var(--c-light);
    border-radius: 0.3rem;
    width: 300px;
}

.list:last-of-type {
    margin-right: 0;
}

.category-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    padding: 0.5rem;
}


.list-items::-webkit-scrollbar {
    width: 1.6rem;
}

.list-items::-webkit-scrollbar-thumb {
    background-color: #c4c9cc;
    border-right: 0.6rem solid #e2e4e6;
}

.list-items{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.3;
    background-color: #fff;
    color: #4d4d4d;
    border-bottom: 0.1rem solid #ccc;
    border-radius: 0.25rem;
    margin: 0 0.5em 1em 0.5em;
    word-wrap: break-word;
    cursor: pointer;
    align-content: start;
    padding: 0.5rem;
    overflow-y: auto;
    height: auto;
}

.list-items li:last-of-type {
    margin-bottom: 0;
}

.list-items:hover{
    background-color: #eee;
}

.add-category-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 400;
    height: 3rem;
}

.add-list-btn:hover {
    background-color: #005485;
}

.add-card-btn::after,
.add-list-btn::after {
    content: '...';
}

.category-icon{
    height: 2em;
    width: auto;
    border-radius: 0.25em;
    cursor: pointer;
}

#DeleteCategory{
    padding: 0;
    margin: 0 0.5em;
    border: none;
    background: none;
}

#listMessage{
    border-width: 1px;
    border-radius: 0.25em;
    overflow: scroll;
    height: 250px;
    padding: 0.25em;
    display: flex;
    flex-direction: column;
}

.message-item{
    padding: 0.25em 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.message-title{
    font-style: italic;
    font-size: 0.75rem;
}

.message-content{
    display: flex;
    font-size: 1em;
    border-radius: 0.25em;
    background-color: var(--c-light);
    padding: 0.25em;
}
