:root{
  --c-dark: #26263B;
  --c-dark-hover: #272737;
  --c-light: #F4F4FA;
  --c-light-hover: #DADAE4;
  --c-blue: #288EEE;
  --c-red: #F44933;
}

.color-nav{
  background-color: var(--c-light);
}

html{
  background-color: white;
  display: block
}

body {
  background-color: white;
  line-height: 1;
  color: var(--c-dark);
}

.layout-center{
  display: flex;
  align-items: center;
}

.layout-popover{
  display: flex;
  flex-direction: column;
}

.navbar{
  border-bottom: 1px solid var(--c-light-hover);
}

.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}

.header-zone{
  padding: 0.3125rem 0.5rem;
  font-size: 1.25rem;
}

.header-element{
  margin: 0 0.5rem;
}

.header-layout-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.custom-popover {
  --bs-popover-max-width: 240px;
  --bs-popover-border-color: var(--c-light-hover);
  --bs-popover-header-bg: var(--c-light);
  --bs-popover-header-color: var(--c-dark);
  --bs-popover-body-padding-x: 0.75rem;
  --bs-popover-body-padding-y: 0.5rem;
}

.popover-arrow::after{
  border-bottom-color: var(--c-dark)!important;
}

.popover-zone{
  background-color: white;
}

.popover-separator::after{
  content: '';
  display: block;
  height: 1px;
  margin: 0.5em 0.75em;
  background-color: var(--c-dark);
}

.popover-element{
  padding: 0.5em 0.5em;
  margin: 0.25em 0;
  width: 200px;
}

.clickable{
  border-radius: 0.25rem;
}

.clickable:hover{
  background-color: var(--c-light-hover);
  text-decoration: none;
}

.clickable-dark:hover{
  background-color: var(--c-dark-hover);
  text-decoration: none;
}

.icon{
  height: 1em;
  width: auto;
  margin: 0.25rem;
}

.icon-clickable{
  height:1.5em;
  width: auto;
  padding: 0.125em;
}

.icon-popover{
  height: 1.5em;
  width: auto;
  float: right;
}

.round{
  border-radius: 100%;
}

.text-header{
  text-align: center;
  margin: 0.25rem;
}

.text-normal{
  text-align: left;
}

.text-title{
  color: var(--c-dark);
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  padding: 0.3125rem;
}

.btn-project{
  color: #fff;
  background-color: #98ABEE;
  border-color: #98ABEE;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
}

.btn-create-project {
  color: #000;
  background-color: #F9E8C9;
  border-color: #F9E8C9;
  font-palette: dark;
  letter-spacing: 0.05em;
  border-radius: 0;
}

.btn-colour-1 {
  color: #fff;
  background-color: #201658;
  border-color: #201658;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
}



