.btn-create-project {
  color: #000;
  background-color: #F4CFDF;
  border-color: #F4CFDF;
  font-palette: dark;
  letter-spacing: 0.05em;
  border-radius: 0;
}

.btn-primary {
  color: #fff;
  background-color: #5784BA!important;
  border-color: #5784BA;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.btn-project {
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
}



