:root{
  --c-dark: #26263B;
  --c-dark-hover: #272737;
  --c-light: #F4F4FA;
  --c-light-hover: #DADAE4;
  --c-blue: #288EEE;
  --c-red: #F44933;
}

html, body {
  height: 100%;
  line-height: 1;
  background-color: white;
}

body {
  background-image: url("../img/background-4.jpg");
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
  color: var(--c-dark);
}
