.btn-create-project {
  color: #000;
  background-color: #F4CFDF;
  border-color: #F4CFDF;
  font-palette: dark;
  letter-spacing: 0.05em;
  border-radius: 0;
}

.btn-category {
  color: #fff;

    background-color: #5784BA;
  border-color: #5784BA;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
}

.btn-project {
  color: #fff;
  background-color: #9AC8EB;
  border-color: #9AC8EB;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
}



