{% extends "header.html.jinja2" %}

{% set title = "Database" %}
{% set active_page = "Database" %}

{% block content %}

    {% for table, items in data.items() %}
        <h2>{{ table }}</h2>
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item">
                    {% for column in columns[table] %}
                        <span>{{ column }}: {{ getattr(item, column) }}</span><br>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}