{% extends "header.html.jinja2" %}

{% set title = "Home Page" %}
{% set active_page = "Home Page" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}

    <main class="container layout-column flex-grow-1 p-3 gap-4">
        <section class="zone-head">
            <div class="layout-column gap-2">

                <div class="col-12 zone-head-content">
                    <div id="project-collapser" class="d-flex flex-grow-1" data-bs-toggle="collapse"
                         data-bs-target="#collapseProjects" aria-expanded="true" aria-controls="collapseExample">
                        <div class="layout-center">
                            <span class="zone-head-icon">
                                <img id="icon-unfold-projects" class="icon"
                                     src="{{ url_for("static", filename="img/chevron-down.svg") }}" alt="Show"/>
                            </span>
                            <span class="zone-title">MES ESPACES DE TRAVAIL</span>
                        </div>
                        <div class="layout-center flex-grow-1">
                            <span class="line"></span>
                        </div>
                    </div>
                </div>

                <div class="collapse show" id="collapseProjects">
                    <div id="listProject" class="row mx-2">
                        <!-- ici sont ajoutés les boutons projets et le bouton 'créer votre nouveau projet' -->
                    </div>
                    <div class="m-2 px-2">

                        {#                        <button id="btn-new-project" class="btn btn-primary layout-center " type="button" data-bs-toggle="modal" data-bs-target="#modalCreateProject">#}
                        {#                            <img class="icon" src="{{ url_for("static", filename="img/add-square.svg") }}" alt="Show"/>#}
                        {#                            <span class="m-1">Nouveau projet</span>#}
                        {#                        </button>#}
                    </div>

                </div>
            </div>
        </section>

        <section class="zone-head">
            <div class="layout-column gap-2">
                <div class="zone-head-content col-12">
                    <div id="task-collapser" class="d-flex flex-grow-1" data-bs-toggle="collapse"
                         data-bs-target="#collapseTasks" aria-expanded="false" aria-controls="collapseExample">
                        <div class="layout-center">
                            <span class="zone-head-icon">
                                <img id="icon-unfold-tasks" class="icon"
                                     src="{{ url_for("static", filename="img/chevron-down.svg") }}" alt="Show"/>
                            </span>
                            <span class="zone-title">MES TACHES</span>
                        </div>
                        <div class="layout-center flex-grow-1">
                            <span class="line"></span>
                        </div>
                    </div>
                </div>

                <div class="collapse" id="collapseTasks">
                    <table class="table table-light">
                        <thead>
                        <tr>
                            <th scope="col">Projet</th>
                            <th scope="col">Tâche</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Priorité</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                        <tr>
                            <th scope="row">{{ task.project_id }}</th>
                            <td>{{ task.name }}</td>
                            <td>{{ task.completionStatus }}</td>
                            <td>{{ task.label }}</td>
                            <td> Done/Block/In Progress</td>
                        </tr>
{#                        <option>{{ user.username }}</option>#}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>

    <!-- Modal for creating a project -->
    <div class="modal fade" id="modalCreateProject" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Créer un nouveau projet {{ current_user.get_id() }}</h1>
                    <button type="button" class="btn-close clickable" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-floating layout-column mb-3">
                        <input type="text" class="form-control" id="name_new_project" placeholder="Nom">
                        <label for="name_new_project">Nom du projet <sup class="text-danger">*</sup></label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="description_new_project"
                                  placeholder="Description"></textarea>
                        <label for="description_new_project">Description du projet</label>
                    </div>
                    <hr>
                    <div class="layout-center p-2">
                        <label for="dateProjectStart"> Date du début de votre projet : </label>
                        <span class="flex-grow-1"></span>
                        <input type="date" id="dateProjectStart">
                    </div>
                    <div class="layout-center p-2">
                        <label for="dateProjectEnd"> Date de fin de votre projet : </label>
                        <span class="flex-grow-1"></span>
                        <input type="date" id="dateProjectEnd">
                    </div>
                    <div class="layout-center p-2">
                        <label for="colorProjectDisplay">Couleur associée au projet : </label>
                        <span class="flex-grow-1"></span>
                        <input type="color" id="colorProjectDisplay"
                               value="#c8c8fa"
                               title="Couleur de ton projet">
                    </div>
                    <hr>
                    <div>
                        <label class="m-2" for="SelectedUser"> Sélectionner les utilisateurs participant à votre
                            projet</label>
                        <select class="form-select" id="SelectedUser" data-placeholder="Choose anything"
                                multiple>
                            {% for user in users %}
                                <option>{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>

                    <span class="text-danger p-2 m-0">
                        <sup>*</sup> Champ obligatoire
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="button_create_project">Créer le projet</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for modify or open a project -->
    <div class="modal fade" id="modalSavedProject" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Ouvrir ou modifier un projet</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <fieldset disabled>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name_saved_project">
                            <label for="name_saved_project">Nom du projet</label>
                        </div>
                    </fieldset>
                    <div class="form-floating">
                        <textarea class="form-control" id="description_saved_project"></textarea>
                        <label for="description_saved_project">Description du projet</label>
                    </div>
                    <hr>
                    <div class="layout-center p-2">
                        <label for="dateProjectStartSaved"> Date du début de votre projet : </label>
                        <span class="flex-grow-1"></span>
                        <input class="is-invalid" type="date" id="dateProjectStartSaved">
                    </div>
                    <div class="layout-center p-2">
                        <label for="dateProjectEndSaved"> Date de fin de votre projet : </label>
                        <span class="flex-grow-1"></span>
                        <input type="date" id="dateProjectEndSaved">
                    </div>
                    <div class="layout-center p-2">
                        <label for="colorProjectDisplaySaved" class="form-label">Couleur associée au projet : </label>
                        <span class="flex-grow-1"></span>
                        <input type="color" id="colorProjectDisplaySaved"
                               value="#c8c8fa"
                               title="Couleur de ton projet">
                    </div>
                    <hr>
                    <div>

                        <label class="m-2" for="SelectedUserSaved"> Sélectionner les utilisateurs participant à votre
                            projet</label>
                        <select class="form-select" id="SelectedUserSaved" data-placeholder="Choose anything"
                                multiple>
                            {% for user in users %}
                                <option>{{ user.username }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-inline-flex gap-2" role="group">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-danger" id="button_delete_project">Supprimer le projet
                        </button>
                        <button type="button" class="btn btn-success" id="button_save_project">Sauvegarder le projet
                        </button>
                        <button type="button" class="btn btn-primary" id="button_open_project">Ouvrir le projet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/home_page.js"></script>
{% endblock %}
