{% extends "header.html.jinja2" %}

{% set title = "Home Page" %}
{% set active_page = "Home Page" %}

{% block content %}
    <div class="d-grid gap-2">
        <button class="btn btn-create-project" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseProjects"
                aria-expanded="false" aria-controls="collapseExample">
            VOS ESPACES DE TRAVAIL
        </button>

    </div>


    <div class="collapse" id="collapseProjects">
        <div id="listProject">
            <button class="btn btn-project" value="0" id="buttonProject"> Projet Test</button>
        </div>

    </div>

    <div class="modal fade" id="modalCreateProject" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Créer un nouveau projet</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name_new_project">
                        <label for="name_new_project">Nom du projet</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" id="description_new_project"></textarea>
                        <label for="description_new_project">Description du projet</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="button_create_project">Créer le projet</button>
                </div>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/js/home_page.js"></script>
{% endblock %}
