{% extends "base.html.jinja2" %}

{% set title = "Home Page" %}
{% set active_page = "Home Page" %}

{% block content %}

{% block content %}
    <div class="d-grid gap-2">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
            VOS ESPACES DE TRAVAIL
        </button>
    </div>


    <div id="collapseProjectSection">

        <div id="listProject">
            <button class="btn btn-project col-xl-auto col-sm-auto col-auto p-5"> Projet Test</button>
            <button class="btn btn-create-project col-xl-auto col-sm-auto col-auto p-5" data-bs-toggle="modal"
                    data-bs-target="#modalCreateProject"> Creer un nouveau projet
            </button>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalCreateProject" tabindex="-1" aria-labelledby="modalCreateProject"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalCreateProjectTitle">Creer votre projet</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name_new_project">Nom du projet</label>
                            <input type="text" class="form-control" id="name_new_project"
                                   placeholder="Ici se trouve le nom de votre projet">

                            <label for="description_new_project">Description</label>
                            <textarea class="form-control" id="description_new_project" rows="2">Ici se trouve votre description</textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="button_create_project"> Creer le projet
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

</html>
