{% extends "project_header.html.jinja2" %}

{% set title = "Project standard view" %}
{% set active_page = "Project standard view" %}

{% block pageProject %}

    <p>Vous êtes sur le projet : {{ pid }}</p>

{% endblock %}