{% extends "header.html.jinja2" %}

<!doctype html>
    <html lang="fr">

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/sidebar.css">
{% endblock %}

{% block content %}

    <main class="main">

        <div id="sidebar-close">
            <div class="sidebar-button" data-bs-toggle="offcanvas" data-bs-target="#sidebar-open" aria-expanded="false">
                <span class="sidebar-box-open" >
                    <img class="sidebar-icon" src="{{ url_for("static", filename="img/sidebar-open.svg") }}" alt="SidebarOpen"/>
                </span>
            </div>
        </div>


        <div id="sidebar-open" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true">
            <div class="">
                <div class="offcanvas-header pb-1">
                    <h5 class="offcanvas-title sidebar-title" id="offcanvasExampleLabel">Menu</h5>
                    <span class="sidebar-box-close sidebar-button" data-bs-dismiss="offcanvas">
                        <img class="sidebar-icon" src="{{ url_for("static", filename="img/sidebar-close.svg") }}" alt="SidebarOpen"/>
                    </span>
                  </div>

            </div>
              <div class="offcanvas-body pt-0">
                <section class="sidebar-zone">
                    <p class="sidebar-zone-title">Mes vues</p>
                    <span class="sidebar-element clickable">Vue projets</span>
                    <span class="sidebar-element clickable">Vue tâches</span>
                </section>
                  <section class="sidebar-zone">
                      <p class="sidebar-zone-title">Mes projets</p>
                  </section>
              </div>
        </div>
    </main>

        <!-- btn-outline /// btn btn-light btn-lg btn-block -->
{#        <button class="btn btn-colour-1 btn-lg btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"#}
{#                aria-controls="collapseOne">#}
{#            VOS ESPACES DE TRAVAIL#}
{#        </button>#}
{#        <div id="collapseOne">#}
{#            <div class="card-body ">#}
{#                <button class="btn btn-project col-xl-2 col-sm-5 col-12"> Projet 1</button>#}
{#                <button class="btn btn-project col-xl-2 col-sm-5 col-12"> Projet 2</button>#}
{#                <button class="btn btn-project col-xl-2 col-sm-5 col-12"> Projet 3</button>#}
{#                <button class="btn btn-create-project col-xl-2 col-sm-5 col-12"> Creer un nouveau projet </button>#}
{#            </div>#}
{#        </div>#}

{% endblock %}

</html>