{% extends "header.html.jinja2" %}

{% block content %}

    <!-- Ici se trouve le header pour changer de projet et passer de la vue tâche à la vue standard et inversement -->

    {% block pageProject %}
    {% endblock %}

{% endblock %}