{% extends "project_header.html.jinja2" %}

{% set title = "Project standard view" %}
{% set active_page = "Project standard view" %}

{% block pageProject %}

    <!-- Ici se trouve le header pour changer de projet et passer de la vue tâche à la vue standard et inversement -->
    <h2> Ouhouhou je suis le header du côté </h2>

{% endblock %}